<form class="" role="form" name="form" [formGroup]="changePasswordForm" novalidate>
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-4">
          <div id="old-password" class="form-group clearfix" [ngClass]="{ 'has-error' : !oldPassword.valid && submitted}">
            <label class="control-label" >Old Password</label>
            <input type="password" class="form-control" id="inputPassword" placeholder="Old Password" name="oldPassword" formControlName="oldPassword" required>
            <div *ngIf="submitted">
              <p *ngIf="oldPassword.hasError('required')" class="error-block">Enter a Password.</p>
              <p *ngIf="oldPassword.hasError('minlength')" class="error-block">Password is too short.</p>
              <p *ngIf="oldPassword.hasError('maxlength')" class="error-block">Password is too long.</p>
            </div> 
          </div>
        </div> 
        <div class="col-md-4">
          <div id="new-password" class="form-group clearfix" [ngClass]="{ 'has-error' : !newPassword.valid && submitted}">
            <label class="control-label">New Password</label>
            <input type="password" class="form-control" id="inputPassword" placeholder="New Password" name="newPassword" formControlName="newPassword" required>
            <div *ngIf="submitted">
              <p *ngIf="newPassword.hasError('required')" class="error-block">Enter a Password.</p>
              <p *ngIf="newPassword.hasError('minlength')" class="error-block">Password is too short.</p>
              <p *ngIf="newPassword.hasError('maxlength')" class="error-block">Password is too long.</p>
            </div> 
          </div>
        </div>  
        <div class="col-md-4">    
          <div id="confirm-password" class="form-group clearfix" [ngClass]="{ 'has-error' : (!confirmPassword.valid || !matching) && submitted}">
            <label class="control-label">Confirm Password</label>
            <input type="password" class="form-control" id="inputConfirmPassword" placeholder="Confirm Password" name="confirmPassword" formControlName="confirmPassword" required>
            <div *ngIf="submitted">
              <p *ngIf="(confirmPassword.hasError('required') || confirmPassword.hasError('minlength') || confirmPassword.hasError('maxlength') || !matching)"
                class="error-block">Passwords don't match.</p>
            </div> 
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-default btn-with-icon save-profile" (click)="submit()">
        <i class="fa fa-check"></i>Update Password
      </button>
    </div>
  </div>
</form>  