@import '../../../style/mixins.scss';

#search-heading{
  overflow: hidden;
  text-overflow: ellipsis;
}

.browse-event-tile{
  width: 100%;
  height: 200px;
  padding-bottom: 15px;
  cursor: pointer;
}

.browse-name{
  position: absolute;
  top: 67%;
  width: 81%;
  white-space: normal;
  line-height: 25px;
  overflow-y: hidden;
  height: 25%;
}

.browse-name span{
  @include tile-span();
}