<right-sidebar>
</right-sidebar>

<panel>
    <div class="row row-container">
      <label class="control-label heading-label">Upload</label>
    </div>

    <div class="row row-container">
      <tabset>
        <tab heading="Upload" class="upload-tab">
          <template></template>
        	<upload-video></upload-video>
        </tab>

        <tab heading="My Uploads" class="upload-tab">
          <template></template>
          <my-uploads></my-uploads>    
        </tab> 
      </tabset>

    </div>
</panel>    