.right-sidebar {
  width: 240px;
  right: 0;
  z-index: 904;
  display: block;
  min-height: 100%;
  //@include bg-translucent-dark(0.7);
  background: rgba(0, 0, 0, 0.7);  
  background: -webkit-linear-gradient(0deg, #252525, #5f5f5f); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(0deg, #252525, #5f5f5f); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(0deg, #252525, #5f5f5f); /* For Firefox 3.6 to 15 */   
  background: linear-gradient(0deg, #252525, #5f5f5f);  
  height: 100%;
  position: fixed;
  padding-top: 0px;
  overflow-y: auto;
  top: 0px;
}

a.collapse-right-menu-link.fa {
  z-index: 904;
  font-size: 20px;
  cursor: pointer;
  display: block;
  text-decoration: none;
  line-height: 42px;
  color: black;
  padding: 0;
  float: right;
  position: fixed;
  right: 245px;
  top: 0px;
    &:hover {
      text-decoration: none;
      color: #dddddd;
    }
}

a.expand-right-menu-link.fa {
  z-index: 904;
  font-size: 20px;
  cursor: pointer;
  display: block;
  text-decoration: none;
  line-height: 42px;
  color: black;
  padding: 0;
  float: right;
  position: fixed;
  right: 5px;
  top: 0px;
    &:hover {
      text-decoration: none;
      color: #dddddd;
    }
}

@media (max-width: 768px){
  a.expand-right-menu-link.fa {
    display: none;
  }
}