<div class="row" id="video-options">
  <div class="col-sm-8 col-xs-12">
    <!--<ul id="sort-list">-->
      <span id="sort-letter" *ngFor="let letter of sort"><a>{{letter}}</a></span>
    <!--</ul>-->
  </div>  
  <div class="col-sm-4 col-xs-12">
    <div class="input-group searchbar">
      <form class="video-search-form" role="form">
        <input type="text" class="form-control" placeholder="Search" [(ngModel)]="searchTerm" name="merchSearch">
        <span class="input-group-btn">
          <button class="btn btn-default" id="search-btn" type="submit" (click)="search()">
            <i class="fa fa-search" id="search-icon"></i>
          </button>
        </span>
      </form>	
    </div>     
  </div>
</div>

<div id="accordion-group" *ngFor="let artist of favourites">
  <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
    <ngb-panel id="profile-videos">
      <template ngbPanelTitle>
        <h5 id="accordion-header">{{artist.artistName}}</h5>
              <!--<i class="pull-right glyphicon" [ngClass]="{'glyphicon-chevron-down': group?.isOpen, 'glyphicon-chevron-right': !group?.isOpen}"></i>-->
      </template>
      <template ngbPanelContent>
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6"  id="favourite-videos" *ngFor="let video of artist.videos" >
          <label class="video-title">Uploaded By {{video.user}}</label>
          <div id="favourite-videos-tile" (click)="openVideo(artist.artistName, video.showId, video.playlistId, video.videoId)">
            <img id="favourite-videos-pic" [src]="video.image">
            <span>
              <h5>{{video.date}}</h5>
              <h5>{{video.location}}</h5>
              <h5>{{video.venue}}</h5>
            </span>
          </div>
          <h5 id="favourite-videos-rating">
            <span>
              <i class="fa fa-volume-off" aria-hidden="true"></i>{{video.audio}} 
              <i class="fa fa-video-camera" aria-hidden="true"></i>{{video.video}}
            </span>
          </h5>
          <h5 id="favourite-videos-time"><span>{{video.time}}</span></h5>
          <h5 id="favourite-videos-views">
            <span>{{ video.views}} <i class="fa fa-eye" aria-hidden="true"></i></span>
          </h5>
          <h5 id="favourite-videos-songs">
            <a title="{{video.songsString}}" (click)="openVideo(artist.artistName, video.showId, video.playlistId, video.videoId)">
              {{video.songsString}}
            </a>
          </h5>
        </div>
      </template>  
    </ngb-panel>  
  </ngb-accordion>
</div> 