<right-sidebar>
</right-sidebar>

<panel>
  <div class="row row-container">
    <label class="control-label heading-label">Profile Settings</label>
  </div>
  
  <div class="row-container">
    <tabset>

      <!-- EDIT PROFILE -->
      <tab heading="Edit Profile" class="settings-tab">
        <template></template>
        <edit-profile></edit-profile>         
      </tab>

      <!-- CHANGE PASSWORD -->
      <tab heading="Change Password" class="settings-tab">
        <template></template> 
        <change-password></change-password>
      </tab>

      <!-- PRIVACY -->
      <tab heading="Privacy" class="settings-tab">
        <template></template> 
        <edit-privacy></edit-privacy>
      </tab>

      <!-- EMAIL NOTIFICATIONS -->
      <tab heading="Email Notifications" class="settings-tab">
        <template></template>  
        <email-notifications></email-notifications> 
      </tab>
    </tabset>
  </div>      
</panel>
