<div class="row" id="video-options">
  <div class="col-sm-8 col-xs-12">
    <!--<ul id="sort-list">-->
      <!--<span id="sort-letter" *ngFor="let letter of sort"><a>{{letter}}</a></span>-->
    <!--</ul>-->
  </div>  
  <div class="col-sm-4 col-xs-12">
    <div class="input-group searchbar">
      <form class="video-search-form" role="form">
        <input type="text" class="form-control" placeholder="Search" [(ngModel)]="searchTerm" name="merchSearch">
        <span class="input-group-btn">
          <button class="btn btn-default" id="search-btn" type="submit" (click)="search()">
            <i class="fa fa-search" id="search-icon"></i>
          </button>
        </span>
      </form>	
    </div>     
  </div>
</div>

 <div id="accordion-group" *ngFor="let artist of videos">
  <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
    <ngb-panel id="profile-videos">
      <template ngbPanelTitle>
        <h5 id="accordion-header">{{artist.artistName}}</h5>
              <!--<i class="pull-right glyphicon" [ngClass]="{'glyphicon-chevron-down': group?.isOpen, 'glyphicon-chevron-right': !group?.isOpen}"></i>-->
      </template>
      <template ngbPanelContent >
        <div *ngFor="let shows of artist.shows">
        <label class="video-title">{{shows.date}} | {{shows.venue}} | {{shows.location}}</label>
          <ks-swiper-container [options]="example1SwipeOptions">
            <ks-swiper-slide *ngFor="let video of shows.videos">
              <div class="video-tile" (click)="openVideo(artist.artistName, shows.id, shows.playlistId, video.id)">
                <img class="video-pic" [src]="video.image">
                <span>
                  <h5 *ngFor="let song of video.songs">{{song}}</h5>
                </span>
              </div>
              <h5 class="video-rating">
                <span>
                  <i class="fa fa-volume-off" aria-hidden="true"></i>{{video.audio}} 
                  <i class="fa fa-video-camera" aria-hidden="true"></i>{{video.video}}
                </span>
              </h5>
              <h5 class="video-time">
                <span>{{video.time}}</span>
              </h5>
              <h5 class="video-views">
                <span>{{video.views}}<i class="fa fa-eye" aria-hidden="true"></i></span>
              </h5>
              <h5 class="video-songs">
                <a title="{{video.songsString}}" (click)="openVideo(artist.artist, shows.id, videos.playlistId, video.id)">{{video.songsString}}</a>
              </h5>
            </ks-swiper-slide>  
          </ks-swiper-container>
        </div>
      </template>  
    </ngb-panel>  
  </ngb-accordion>
</div>